.header-home {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 999;
    width: 100vw;
    background-color: #03142E;
    box-shadow: 0 5px 20px 0 rgba(46, 51, 107, 0.9);
   

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
  

        &-icon {
            font-size: 25px;
            color: #e5e5e5;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
        }

        &-items {
            display: flex;
       
        }

        &-item {
            list-style-type: none;
            font-size: 18px;
            font-weight: 500;
            color: #e5e5e5;
            margin-left: 20px;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
        }

        &-phone {
            display: flex;
        }

        &-phoneIcon {
            margin-top: 10px;
            margin-right: 10px;

        }

       

        &-number {
            color: #e5e5e5;
            font-size: 21px;
            font-weight: 600;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            &:hover {
                color: #e5e5e5;
            }
           
        }

        &-text {
            margin-top: -5px ;
            font-size: 14px;
            font-weight: 400;
            color: #e5e5e5;
            font-family: 'Open Sans', sans-serif;
            
        }

        &-icons {
            display: flex;
            margin-top: -10px;
        }
    }

    &__favorite {
        margin-right: 10px;
    }
}