.bagconstructor {
    padding-bottom: 50px;
    &__crumbs {
        padding: 15px 0px;
        background-color: #3A5BCC26;
        @media(max-width: 768px) {
            padding: 5px 0px;
        }
        &-content {
            display: flex;

        }


        &-icon {
            margin-right: 5px;
            margin-left: 5px;
            @media(max-width: 768px) {
                width: 22px;
                height: 22px;
            }
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: var(--e-global-color-primary);
         
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: var(--e-global-color-primary);
                }
            }
            @media(max-width: 768px) {
                font-size: 14px;
            }
            &__active {
                color: #3A5BCC;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            }
            
        }
    }

    &__title {
        margin-top: 25px;
        font-size: 27px;
        font-weight: bold;
        color: var(--e-global-color-primary);
        text-transform: uppercase;
        @media(max-width: 768px) {
            font-size: 24px;
        }
        @media(max-width: 595px) {
            font-size: 22px;
            font-weight: 500;
        }  
        @media(max-width: 460px) {
            font-size: 21px;
            font-weight: bold;
        }
    }

    &__content {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        @media(max-width: 595px) {
            display: contents;
        }
    }

    &__content-right__bottom {
        margin-top: 35px;
    }

    #bagconstructor__button {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border-radius: 100px 100px 100px 100px;
        background-color: #3A5BCC;
        border: 2px solid #3A5BCC;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        padding: 12px 24px 12px 24px;
        color: #ffffff;
        text-transform: uppercase;
        &:hover {
            background-color: #ffffff;
            color: #4949cf;
            @media(max-width: 1024px) {
                box-shadow: none;
                background-color: #3A5BCC;
                border: 2px solid #3A5BCC;
                color: #ffffff;
            }
        }
        &.added {
            &:hover {
                background-color: #ffffff;
                color: #4949cf;
                @media(max-width: 1024px) {
                    box-shadow: none;
                    background-color: #3A5BCC;
                    border: 2px solid #3A5BCC;
                    color: #ffffff;
                }
            }
        }
    }
}