.homeproductlist {
    margin-bottom: 50px;
    &__crumbs {
        padding: 15px 0px;
        background-color: #3A5BCC26;
        @media(max-width: 768px) {
            padding: 5px 0px;
        }
        &-content {
            display: flex;
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: var(--e-global-color-primary);
            margin-right: 20px;
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: var(--e-global-color-primary);
                }
            }
            @media(max-width: 768px) {
                font-size: 13px;
            }
            &__active {
                color: #3A5BCC;
                font-size: 19px;
                font-weight: 500;
            }
            @media(max-width: 768px) {
                font-size: 13px;
            }
        }
    }
    &__title {
        margin-top: 25px;
        font-size: 24px;
        font-weight: 500;
        color: var(--e-global-color-primary);
        @media(max-width: 480px) {
            font-size: 20px;
        }
    }

    &__subtitle {
        margin-top: 10px;
        font-size: 17px;
        font-weight: 400;
        color: var(--e-global-color-primary);
        @media(max-width: 595px) {
            font-size: 16px;
        }
        @media(max-width: 460px) {
            font-size: 14px;
        }
        @media(max-width: 400px) {
            font-size: 13px;
        }
    }

    &__content {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 25px;
        justify-items: center; 
        align-items: center;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr); 
        }
        
    }
}