.cellshape {
    margin-top: 15px;
    border-bottom: 2px solid #e5e5e5;
    &__title {
        font-size: 21px;
        font-weight: 600;
        color:#03142E;
        font-family: 'Open Sans', sans-serif;  
        @media(max-width: 460px) {
            font-size: 19px;
        }    
    }

    &__image {
        margin-top: 15px;
        
        img {
            width: 70px;
            height: 70px;
            border: 2px solid transparent;
            border-radius: 50%;
            @media(max-width: 460px) {
                width: 60px;
                height: 60px;
            }
          
        }
    }

    &__subtitle {
        margin-top: 5px;
        font-size: 17px;
        font-weight: 500;
        color:#03142E;
        font-family: 'Open Sans', sans-serif;  
        text-transform: uppercase;
        padding-left: 13px;
        padding-bottom: 10px;
        @media(max-width: 460px) {
            font-size: 15px;
            padding-left: 9px;
        }

    }
    
}