.cardbrand {
    position: relative;
    width: 170px;
    height: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #ffffff;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        @media(max-width: 991px) {
            box-shadow: none; 
            transform: none;
        }
    }
    @media(max-width: 768px) {
        border: 2px solid #3A5BCC26;
        width: 135px;
        height: 118px;
    }
    @media(max-width: 595px) {
        width: 130px;
    }
    @media(max-width: 450px) {
        width: 125px;
    }
    @media(max-width: 400px) {
        width: 115px
    }
    @media(max-width: 360px) {
        width: 110px
    }

    &__content {
        padding: 15px;
    }
        

    &__image {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 130px;
           @media (max-width: 768px) {
            height: 44px;
           }
        img {
            display: block;
            width: 90%;
            @media(max-width: 768px) {
                width: 65%;
            }
        }
        
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: rgb(3, 3, 3);
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @media(max-width: 768px) {
            font-size: 17px;
        }
        @media(max-width: 595px) {
            font-size: 16px;
        }
        @media (max-width: 420px) {
            font-size: 14px;
        }
    }
}

