.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
    &__title {
        font-size: 25px;
        font-weight: 500;
        color: var(--e-global-color-primary);
        margin-bottom: 15px;
       
    }

    &__button {
        display: inline-block;
        margin: 0 auto;
        width: 220px;
        height: 50px;
        border-radius: 10px;
        background-color: #3A5BCC;
        border: 2px solid #3A5BCC;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        color: #ffffff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            background-color: #ffffff;
            color: #4949cf;
           @media(max-width: 1024px) {
            box-shadow: none;
            background-color: #3A5BCC;
            border: 2px solid #3A5BCC;
            color: #ffffff;
           }
        }
    }
}