.sale {
    margin-top: 70px;
    margin-bottom: 35px;
    @media(max-width: 768px) {
        margin-top: 25px;
       margin-bottom: 25px;
    }
   
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__controls {
        display: flex;
        @media(max-width: 768px) {
            display: none;
        }
    }

    &__arrow {
        img {
            width: 80%;
            cursor: pointer;
        }
    }
        &__title {
            text-align: left;
            font-size: 27px;
            font-weight: 500;
            color: #000000ff;
            @media(max-width: 1024px) {
                font-size: 28px;
            }
            @media(max-width: 768px) {
                font-size: 23px;
            }
            @media(max-width: 480px) {
                font-size: 21px;
                font-weight: 600;
               
            }
        }
        &__content {
            margin-top: 35px;
            width: 100%; /* Ширина контейнера слайдера */
            margin: 0 auto; /* Центрирование контейнера по горизонтали */
        }

        &__content-768 {
            margin-top: 15px;
            display: flex;
            overflow-x: auto;
        }

        &__content-768 > * {
            flex: 0 0 33.33%; /* Распределяет место для 3 карточек на экране */
            max-width: 33.33%; /* Устанавливает максимальную ширину для каждой карточки */
            @media(max-width: 460px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        
       
    }


    

    
  
