.sale {
    padding-top: 70px;
    padding-bottom: 35px;
    @media(max-width: 768px) {
        padding-top: 35px;
        padding-bottom: 45px;
    }
   
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__controls {
        display: flex;
        @media(max-width: 768px) {
            display: none;
        }
    }

    &__arrow {
        img {
            width: 80%;
            cursor: pointer;
        }
    }
        &__title {
            text-align: left;
            font-size: 27px;
            font-weight: 500;
            color: rgb(7, 6, 6);
            @media(max-width: 1024px) {
                font-size: 28px;
            }
            @media(max-width: 768px) {
                font-size: 23px;
            }
            @media(max-width: 480px) {
                font-size: 20px;
            }
        }
        // &__content {
        //     margin-top: 35px;
         
        //         width: 100%; /* Ширина контейнера слайдера */
        //         margin: 0 auto; /* Центрирование контейнера по горизонтали */
    
        //    @media(max-width: 768px) {
        //     margin-top: 15px;
        //    }
        // }
        
    }

    .sale__content {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        margin-top: 35px;
      }
      
      .slider {
        display: flex;
        transition: transform 0.5s ease; /* Добавление плавного перехода */
      }
      
      .slider-slide {
        flex: 0 0 auto; /* Неизменяемая ширина слайда */
      }
      
      @media (max-width: 768px) {
        .slider {
          display: block; /* Изменение на блочный элемент для мобильных устройств */
          white-space: nowrap; /* Отключение переноса строк */
          overflow-x: auto; /* Добавление горизонтальной прокрутки */
          -webkit-overflow-scrolling: touch; /* Плавная прокрутка на iOS */
          scroll-snap-type: x mandatory; /* Прокрутка по слайдам */
        }
      
        .slider-slide {
          display: inline-block; /* Отображение слайдов в одну линию */
          scroll-snap-align: start; /* Выравнивание слайдов по началу */
        }
      }

  
