.sale {
    padding-top: 70px;
    padding-bottom: 35px;
    @media(max-width: 768px) {
        padding-top: 35px;
        padding-bottom: 25px;
    }
   
        &__title {
            text-align: left;
            font-size: 27px;
            font-weight: 500;
            color: rgb(7, 6, 6);
            @media(max-width: 1024px) {
                font-size: 28px;
            }
            @media(max-width: 768px) {
                font-size: 23px;
            }
            @media(max-width: 480px) {
                font-size: 20px;
            }
        }
        &__content {
            padding-top: 35px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 10px;
            justify-items: center; 
            align-items: center;
            @media(max-width: 595px) {
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 10px;
              
            }
            @media(max-width: 480px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media(max-width: 450px) {
              
            }
            @media(max-width: 435px) {
               
            }
            
            
            
        }
        
    }
