.reviews {
    background-color: #03142E;
    padding-bottom: 50px;
    padding-top: 30px;
    &__title {
        text-align: left;
        color: #e5e5e5;
        font-family: 'Open Sans', sans-serif;
        font-size: 33px;
        font-weight: 700;
        line-height: 1.3em;
        @media(max-width: 1024px) {
            font-size: 28px;
        }
        @media(max-width: 768px) {
            font-size: 23px;
        }
        @media(max-width: 480px) {
            font-size: 21px;
            font-weight: 600;
        }
    }

    &__content {
        display: flex;
        @media(max-width: 768px) {
            display: contents;
            margin-top: 25px;
        }
    }

    &__image {
        margin-right: 25px;
        @media(max-width: 460px) {
            margin-right: 0px;
        }
        img {
            width: 400px;
            height: 300px;
            @media(max-width: 460px) {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    &__text {
        color: #e5e5e5;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        @media(max-width: 460px) {
            padding-top: 25px;
            font-size: 16px;
        }
    }
}