.promo {
    padding-top: 50px;
    background-color: #03142E;
    padding-bottom: 35px;
    @media(max-width: 991px) {
        padding-top: 0px;
    }
    @media(max-width: 768px) {
        padding-top: 25px;
    }
   
    &__title {
        text-align: left;
        color: #e5e5e5;
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 700;
      
        line-height: 1.3em;
        @media(max-width: 1024px) {
            font-size: 28px;
        }
        @media(max-width: 768px) {
            font-size: 23px;
        }
        @media(max-width: 480px) {
            font-size: 22px;
            font-weight: 600;
        }
    }
     
    &__content {
        padding-top: 25px;
        padding-bottom: 35px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 25px;
        justify-items: center; 
        align-items: center;
        @media(max-width: 1024px) {
            grid-template-columns: repeat(5, 1fr);
             
        }
        @media(max-width: 768px) {
            grid-column-gap: 5px;
            grid-row-gap: 10px;
            padding-bottom: 25px;  
        }
        @media(max-width: 595px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media(max-width: 480px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 768px) {
        .promo__content div:nth-child(n+16) {
            display: none;
        }
    }
    @media (max-width: 595px) {
        .promo__content div:nth-child(n+13) {
            display: none;
        }
    }

    &__button {
        display: inline-block;
        width: 165px;
        height: auto;
        border-radius: 100px 100px 100px 100px;
        background-color: #03142E;
        border: 2px solid #ffffff;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        padding: 12px 24px 12px 24px;
        color: #e5e5e5;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    
        &:hover {
            background-color: #ffffff;
            color: #03142E;
            @media(max-width: 1024px) {
                box-shadow: none;
                background-color: #3A5BCC;
                border: 2px solid #3A5BCC;
                color: #ffffff;
            }
        }

        @media(max-width: 480px) {
            width: 150px;
            height: 40px;
            font-size: 17px;
            font-weight: 500;
            padding: 0px;
        }
    
    }
}

// card-promo 
.card-promo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover {
        box-shadow: 0 0 10px #03142E;
        transform: scale(1.05);
        @media(max-width: 991px) {
            box-shadow: none; 
            transform: none;
        }
    }
    @media(max-width: 768px) {
        border: 2px solid #3A5BCC26;
        width: 135px;
        height: 118px;
    }
    @media(max-width: 595px) {
        width: 130px;
    }
    @media(max-width: 460px) {
        width: 100px;
        height: 100px;
    }
    

    &__content {
        padding: 15px;
    }
        

    &__image {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100px;
           @media (max-width: 768px) {
            height: 44px;
           }
           @media(max-width: 460px) {
            height: 35px;
           }
        img {
            display: block;
            width: 80%;
            @media(max-width: 768px) {
                width: 60%;
            }
            @media(max-width: 460px) {
                width: 80%;
            }
            
        }
        
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @media(max-width: 768px) {
            font-size: 17px;
        }
        @media(max-width: 595px) {
            font-size: 16px;
        }
        @media(max-width: 460px) {
            padding: 5px;
        }
        @media (max-width: 420px) {
            font-size: 14px;
        }
    }
}