.post__widget {
    height: 450px;

    &-text {
        margin-top: 25px;
        font-size: 19px;
        font-weight: 400;
        color: var(--e-global-color-primary);
    }

    &-adress {
        font-size: 19px;
        font-weight: 400;
        color: var(--e-global-color-primary);
    }

    &-reset {
        font-size: 19px;
        font-weight: 400;
        color: #3A5BCC;
    }
}