.post__widget {
    height: 450px;

    &-text {
        font-size: 19px;
        font-weight: 400;
        color: #504f4f;
    }

    &-adress {
        font-size: 19px;
        font-weight: 400;
        color: #504f4f;
    }
}