// basket__list 
.basketlist {
    
    margin-bottom: 50px;
    &__crumbs {
        padding: 15px 0px;
        background-color: #03142E;
        @media(max-width: 991px) {
            padding-top: 35px;
        }
        @media(max-width: 460px) {
            padding-top: 15px;
            padding-bottom: 5px;
        }
        
        &-content {
            display: flex;
        }

        &-icon {
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
           
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: #e5e5e5;
        
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: #e5e5e5;
                }
            }
            @media(max-width: 768px) {
                font-size: 17px;
            }
            &__active {
                color: #2e528f;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 17px;
                }
            } 
        }
    }
    &__title {
        margin-top: 25px;
        font-size: 25px;
        font-weight: 500;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;
    }

    &__tableheader {
        text-align: center;
        @media(max-width: 768px) {
            font-size: 16px;
            white-space: nowrap;
        }
        @media(max-width: 460px) {
            display: none;
        }
    }
    
    &__bottom {
        margin-top: 35px;
        display: flex;
        justify-content: right;
        @media(max-width: 480px) {
            justify-content: center;
        }

        &-content {
            display: flex;
            @media(max-width: 480px) {
                flex-direction: column;
            }
        }

        &-total {
            font-size: 22px;
            font-weight: 500;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;
            padding-top: 11px;
            margin-right: 15px;
            @media(max-width: 480px) {
                font-size: 19px;
                margin-right: 0px;
            }
        }

        &-button {
            display: inline-block;
            width: 200px;
            height: auto;
            border-radius: 100px 100px 100px 100px;
            background-color: #03142E;
            border: 2px solid #03142E;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            padding: 12px;
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            &:hover {
                background-color: #ffffff;
                color: #03142E;
                @media(max-width: 1024px) {
                    box-shadow: none;
                    background-color: #03142E;
                    border: 2px solid #03142E;  
                    color: #ffffff;
                }
            }
            @media(max-width: 480px) {
                width: 200px;
                font-size: 15px;
            }
        }
    }
}






//CartEmpty 

.cart-empty {
    &__content {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    &__title {
        font-size: 25px;
        font-weight: 500;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }
    &__button {
        display: inline-block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #03142E;
        border: 2px solid #03142E;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            background-color: #ffffff;
            color: #03142E;
            @media(max-width: 1024px) {
                box-shadow: none;
                background-color: #03142E;
                border: 2px solid #03142E;  
                color: #ffffff;
            }
        }
    }
}

span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #03142E;
    @media(max-width: 480px) {
        font-size: 14px;
    }
    @media(max-width: 480px) {
        font-size: 13px;
    }
    @media(max-width: 400px) {
        font-size: 11px;
    }
}


