.bagsize {
    margin-top: 15px;
    border-bottom: 2px solid #e5e5e5;
    @media(max-width: 595px) {
        margin-left: 25px;
        margin-top: 25px;
    }


    &__title {
        font-size: 21px;
        font-weight: 600;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;   
        width: 336px; 
        @media(max-width: 460px) {
            font-size: 19px;
        }
    }

    &__content {
        margin-top: 15px;
        margin-bottom: 15px;
        
    }

    &__checkbox {
        display: flex;
        margin-bottom: 5px;
        span {
            font-size: 16px;
            font-weight: 400;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;
            padding-right: 15px;
            @media(max-width: 460px) {
                font-size: 16px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 600;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;  
            margin-bottom: 0px;
            @media(max-width: 460px) {
                font-size: 16px;
            }
        }
    }

    &-equipment{

        &__quantity {
            display: flex;
            justify-content: center;
            @media(max-width: 595px) {
                justify-content: left;
            }
            }
        &__total {
            font-size: 18px;
            font-weight: 500;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;   
            padding-left: 10px;
            padding-right: 10px;
            @media(max-width: 460px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &__minus, &__plus {
            cursor: pointer;
            border: none;
            background-color: #ffffff;
        }
    }
}