.checkout {
    
    margin-bottom: 150px;
    @media(max-width: 768px) {
        margin-bottom: 50px;
    }
    &__crumbs {
        padding: 15px 0px;
        background-color: #3A5BCC26;
        @media(max-width: 768px) {
            padding: 5px 0px;
        }
        &-content {
            display: flex;
        }

        &-icon {
            margin-right: 5px;
            margin-left: 5px;
            @media(max-width: 768px) {
                width: 22px;
                height: 22px;
            }
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: var(--e-global-color-primary);
           
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: var(--e-global-color-primary);
                }
            }
            @media(max-width: 768px) {
                font-size: 14px;
            }
            &__active {
                color: #3A5BCC;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            } 
        }
    }
    &__title {
        margin-top: 25px;
        font-size: 32px;
        font-weight: 500;
        color: var(--e-global-color-primary);
        @media(max-width: 768px) {
            font-size: 24px;
        }
    }
    &__subtitle {
        font-size: 27px;
        font-weight: 400;
        color: var(--e-global-color-primary);
        margin-top: 25px;
        @media(max-width: 768px) {
            font-size: 21px;
        }
    }
    &__inputs {
        display: contents;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 50%;
        height: 35px;
        border: 1px solid #b5b8b8;
        border-radius: 5px;
        margin-bottom: 15px;
        transition: border-color 0.3s;
        &:focus {
            border-color:  #3A5BCC; 
            outline: none;
        
        }
        @media(max-width: 595px) {
            margin-right: 0px;
            margin-bottom: 10px;
        }
        
        @media(max-width: 460px) {
            width: 400px;
        }
        @media(max-width: 400px) {
            width: 350px;
        
        }
        @media(max-width: 360px) {
            width: 320px;
           
        }
    }

    &__checkbox {
        display: flex;
        margin-bottom: 15px;
    }

    &__button {
        display: block;
        width: 200px;
        height: 35px;
        border-radius: 10px;
        background-color: #3A5BCC;
        border: 2px solid #3A5BCC;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        &:hover {
            background-color: #ffffff;
            color: #4949cf;
            @media(max-width: 1024px) {
                box-shadow: none;
                background-color: #3A5BCC;
                border: 2px solid #3A5BCC;
                color: #ffffff;
            }
        }
        @media(max-width: 480px) {
            margin: 0 auto;
        }
    }

    &__span {
        font-size: 17px;
        font-weight: 400;
        color: var(--e-global-color-primary);
        @media(max-width: 480px) {
            font-size: 14px;
        }
    }
}

// delevery

.delevery {
    margin-bottom: 25px;
    &__title {
        font-size: 27px;
        font-weight: 400;
        color: var(--e-global-color-primary);
        @media(max-width: 768px) {
            font-size: 21px;
        }
       
    }
    &__content {
        margin-top: 15px;
        display: flex;
        @media(max-width: 768px) {
            display: contents;
        }
    }
    &__card {
        background: white;
        border: 2px solid #b5b8b8;
        border-radius: 10px;
        padding: 15px;
        max-width: 280px;
        margin-right: 30px;
        cursor: pointer;
        @media(max-width: 768px) {
            max-width: 500px;
            margin-right: 0px;
            margin-top: 15px;
        }
        &:hover {
            border-color: #3A5BCC;
            @media(max-width: 1024px) {
                border-color: none;
            }
        }
        &:active {
            border-color: #3A5BCC;
           
          }
        &.active {
            border-color: #3A5BCC;
        }
        &-title {
            font-size: 17px;
            font-weight: 600;
            color: var(--e-global-color-primary);
        }
        &-price {
            padding-top: 10px;
            font-size: 17px;
            font-weight: 400;
            color: var(--e-global-color-primary);
        }
        &-span {
            font-size: 17px;
            font-weight: bold;
        }
        &-description {
            padding-top: 10px;
            font-size: 17px;
            font-weight: 400;
            color: #504f4f;
            line-height:normal;
        }
    }

    &__region {
        margin-top: 15px;
      
    }
}

// message

.message {
    margin-top: 90px;
    margin-bottom: 90px;
    @media(max-width: 768px) {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    @media(max-width: 460px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        color: var(--e-global-color-primary);
        text-align: center;
        @media(max-width: 460px) {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 25px;
        font-weight: 400;
        color: var(--e-global-color-primary);
        text-align: center;
        margin-top: 15px;
        @media(max-width: 460px) {
            font-size: 20px;
        }
    }
}


