.checkout {
    margin-bottom: 50px;
    &__title {
        font-size: 32px;
        font-weight: 500;
        color: rgb(7, 7,7);
    }
    &__subtitle {
        font-size: 27px;
        font-weight: 400;
        color: rgb(7, 7,7);
        margin-top: 25px;
    }

    &__form {
        
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 450px;
        height: 35px;
        border: 2px solid rgb(87, 84, 84);
        border-radius: 5px;
        margin-bottom: 15px;
        @media(max-width: 460px) {
            width: 400px;
        }
        @media(max-width: 400px) {
            width: 350px;
        }
    }

    &__button {
        display: block;
        
        width: 200px;
        height: 35px;
        border-radius: 10px;
        background-color: rgba(230, 7, 7, 0.897);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        &:hover {
            background-color: #ffffff;
            color: rgba(230, 7, 7, 0.897);
            border: 2px solid rgba(230, 7, 7, 0.897);
        }
    }
}