.blacksota {background-color: #000000;}
.greysota {background-color: #808080;}
.brownsota { background-color: #964B00 ; }
.beigesota { background-color: #f5f5dc;}

.homeproduct {
    margin-bottom: 50px;
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: rgb(7,7,7);
        @media(max-width: 595px) {
            font-size: 20px;
        }
        @media(max-width: 480px) {
            font-size: 18px;
        }
        @media(max-width: 460px) {
            font-size: 17px;
        }
        @media(max-width: 420px) {
            font-size: 15px;
        }
    }

    &__content {
        padding-top: 25px;
        display: flex;
        justify-content: space-around;
        @media(max-width: 991px) {
            justify-content: center;
        }
        @media(max-width: 480px) {
            justify-content: space-between;
        }

        &-image {
            img {
                width: 100%;
                border-radius: 10px;
                @media(max-width: 480px) {
                    width: 80%;
                }
            }
        }

        // &-right {
           
        //     width: 250px;
        //     @media(max-width: 595px) {
        //         margin-left: 100px;
        //     }
        //     @media(max-width: 480px) {
        //         margin-left: 0px;
        //         width: none;
        //     }
        // }

        &-color {
            &__title {
                font-size: 19px;
                font-weight: 500;
                color: rgb(7,7,7);
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 460px) {
                    font-size: 16px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
                @media(max-width: 410px) {
                    font-size: 14px;
                }
                @media(max-width: 390px) {
                    font-size: 13px;
                }
            }

            &__items {
                padding-top: 15px;
                display: flex;
                @media(max-width: 595px) {
                    display: flex;
                    justify-content: left;
                }
            }
            &__item {
                width: 40px;
                height: 40px;
                border-radius: 25px;
                border: 3px solid #9b9999;
                cursor: pointer;
                margin-right: 7px;
                &.active {
                    border-color: red;
                }
                @media(max-width: 595px) {
                    width: 30px;
                    height: 30px;
                    padding-right: 8px;
                }
            }
        }

        &-edging {
            margin-top: 15px;
            &__title {
                font-size: 19px;
                font-weight: 500;
                color: rgb(7,7,7);
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 460px) {
                    font-size: 16px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
                @media(max-width: 410px) {
                    font-size: 14px;
                }
                @media(max-width: 390px) {
                    font-size: 13px;
                }
            }

            &__items {
                padding-top: 15px;
                display: flex;
                @media(max-width: 595px) {
                    display: flex;
                    justify-content: left;
                }
            }
            &__item {
                width: 40px;
                height: 40px;
                border-radius: 25px;
                border: 3px solid #9b9999;
                margin-right: 5px;
                cursor: pointer;
                &.active {
                    border-color: red;
                }
                @media(max-width: 595px) {
                    width: 30px;
                    height: 30px;
                    padding-right: 8px;
                }
            }
        }

        &-equipment {
            margin-top: 15px;

            &__title {
                font-size: 20px;
                font-weight: 500;
                color: rgb(7,7,7);
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 460px) {
                    font-size: 16px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
                @media(max-width: 410px) {
                    font-size: 14px;
                }
                @media(max-width: 390px) {
                    font-size: 13px;
                }
            }

            &__interior {
                margin-top: 15px;
                display: flex;
            }

            &__price {
                display: flex;
                margin-right: 35px;
                @media(max-width: 480px) {
                    margin-right: 15px;
                }
            }

            &__oldPrice {
                font-size: 20px;
                color: #0a0707;
                font-weight: 400;
                text-decoration: line-through;
                display: inline-block;
                margin-right: 7px;
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
            }
            &__newPrice {
                font-size: 20px;
                color: #d81212;
                font-weight: 500;
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
            }
            &__quantity {
                display: flex;
                justify-content: center;
                @media(max-width: 595px) {
                    justify-content: left;
                }
            }

            &__total {
                font-size: 22px;
                font-weight: 500;
                color: rgb(7, 6, 6);
                padding-left: 15px;
                padding-right: 15px;
                @media(max-width: 595px) {
                    font-size: 17px;
                }
                @media(max-width: 440px) {
                    font-size: 15px;
                }
            }

            .minus, .plus {
                width: 40px;
                height: 30px;
                border: none;
                background-color: #ffffff;
                @media(max-width: 595px) {
                    width: 25px;
                    height: 15px;
                }
                &:hover {
                    border: none; 
                }
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    #homeproduct__button {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(230, 7, 7, 0.897);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        @media(max-width: 595px) {
            width: 150px;
            font-size: 17px;
            height: 40px;
        }
        @media(max-width: 480px) {
            width: 120px;
           height: 35px;
        }
        @media(max-width: 460px) {
            font-size: 16px;
        }
        @media(max-width: 440px) {
            font-size: 15px;
        }
        @media(max-width: 390px) {
            font-size: 13px;
            width: 90px;
        }
    }

    
}