.black  { background-color: #000000; }
.grey { background-color: #808080; }
.brown { background-color: #964B00 ; }
.beige { background-color: #f5f5dc;}
.red { background-color: #FF0000;}
.blue {background-color: #0000FF;}

.blacksota {background-color: #000000;}
.greysota {background-color: #808080;}
.brownsota { background-color: #964B00 ; }
.beigesota { background-color: #f5f5dc;}


.product {
    padding-top: 25px;
    padding-bottom: 50px;
    
    @media(max-width: 595px) {
        padding-top: 15px;
    }

 &__car {
    display: none;
    @media(max-width: 460px) {
        display: block;
    }
    &-image {
        img {
            width: 350px;
            @media(max-width: 410px) {
                width: 300px;
            }
        }
        
    }
 }

    &__title {
        margin-top: 25px;
        font-size: 27px;
        font-weight: bold;
        color: var(--e-global-color-primary);
        text-transform: uppercase;
        @media(max-width: 768px) {
            font-size: 24px;
        }
        @media(max-width: 595px) {
            font-size: 22px;
            font-weight: 500;
        }  
        @media(max-width: 460px) {
            font-size: 21px;
            font-weight: bold;
        }
    }


    &__content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        
        @media(max-width: 991px) {
            justify-content: space-around;
        }
        @media(max-width: 595px) {
            flex-direction: column;
            padding-left: 25px;
        }
    }

   

    #product__button {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border-radius: 100px 100px 100px 100px;
        background-color: #3A5BCC;
        border: 2px solid #3A5BCC;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        padding: 12px 24px 12px 24px;
        color: #ffffff;
        text-transform: uppercase;
        &:hover {
            background-color: #ffffff;
            color: #4949cf;
            @media(max-width: 1024px) {
                box-shadow: none;
                background-color: #3A5BCC;
                border: 2px solid #3A5BCC;
                color: #ffffff;
            }
        }
        &.added {
            &:hover {
                background-color: #ffffff;
                color: #4949cf;
                @media(max-width: 1024px) {
                    box-shadow: none;
                    background-color: #3A5BCC;
                    border: 2px solid #3A5BCC;
                    color: #ffffff;
                }
            }
        }
    }

}



// checkbox 

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
  
    input:checked + .checkbox {
      border-color: #20C2E0;
  
      svg {
        path {
          fill: #20C2E0;
        }
  
        polyline {
          stroke-dashoffset: 0;
        }
      }
    }
  
    &:hover {
      .checkbox svg path {
        stroke-dashoffset: 0;
      }
    }
  
    .checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid #C8CCD4;
      border-radius: 3px;
  
      svg {
        position: absolute;
        top: -2px;
        left: -2px;
  
        path {
          fill: none;
          stroke: #20C2E0;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: all .6s ease;
        }
  
        polyline {
          fill: none;
          stroke: #FFF;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          transition: all .3s ease;
        }
      }
    }
  
    > span {
      pointer-events: none;
      vertical-align: middle;
    }
  }
  
  
  .invisible {
    position: absolute;
  }



  
  