.carmat {
    &__image {
        position: relative;
        @media(max-width: 595px) {
            margin-top: 15px;
        } 
    }

    .image_one {
        position: relative;
        top: 0;
        left:0;
        width: 95%;
        @media(max-width: 595px) {
            width: 40%;
        }
        @media(max-width: 480px) {
            width: 200px;
        }
      }

      .image_two {
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        @media(max-width: 595px) {
            width: 40%;
        }
        @media(max-width: 480px) {
            width: 200px;
        }
      }
}