.equipment {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
    &__title {
        font-size: 21px;
        font-weight: 600;
        color:#03142E;
        font-family: 'Open Sans', sans-serif;   
        @media(max-width: 460px) {
            font-size: 19px;
        }
    }

    &__trunk, &__interior {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .checkbox {
        display: flex;

        span {
            font-size: 17px;
            font-weight: 400;
            color:#03142E;
            font-family: 'Open Sans', sans-serif;   
            width: 300px;
            @media(max-width: 460px) {
                width: 100%;
            }
        }
    }

    &__price {
        display: flex;
        margin-left: 10px;
        margin-top: 10px;
    }

    &__oldPrice {
        font-size: 20px;
        color:#03142E;
        font-family: 'Open Sans', sans-serif;   
        font-weight: 400;
        text-decoration: line-through;
        display: inline-block;
        margin-right: 7px;
        @media(max-width: 460px) {
            font-size: 18px;
        }
    }
    &__newPrice {
        font-size: 20px;
        color: #d81212;
        font-family: 'Open Sans', sans-serif;   
        font-weight: 500;
        @media(max-width: 460px) {
            font-size: 18px;
        }
    }
    &__quantity {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        @media(max-width: 595px) {
            justify-content: left;
        }
    }
    &__total {
        font-size: 22px;
        font-weight: 500;
        color:#03142E;
        font-family: 'Open Sans', sans-serif;   
        padding-left: 15px;
        padding-right: 15px;
        @media(max-width: 460px) {
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .minus, .plus {
        cursor: pointer;
        border: none;
        background-color: #ffffff;
    }


    &__maxtrunk {
        margin-top: 25px;
        &-title {
            font-size: 21px;
            font-weight: 600;
            color:#03142E;
            font-family: 'Open Sans', sans-serif;   
            cursor: pointer;
            @media(max-width: 460px) {
                font-size: 19px;
            }
        }

        &-content {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
}