.catalogbrands {
    padding-bottom: 50px;
    background-color: #03142E;
    
    &__content {
        padding-top: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: center;
        align-items: center;

        @media(max-width: 1024px) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media(max-width: 595px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media(max-width: 480px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__crumbs {
        padding: 15px 0px;
        background-color: #03142E;
        @media(max-width: 991px) {
            padding-top: 35px;
        }
        @media(max-width: 460px) {
            padding-top: 25px;
            padding-bottom: 5px;
        }
        
        &-content {
            display: flex;
        }

        &-icon {
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
           
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: #e5e5e5;
        
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: #e5e5e5;
                }
            }
            @media(max-width: 768px) {
                font-size: 17px;
            }
            &__active {
                color: #2e528f;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 17px;
                }
            } 
        }
    }
}