.searchsection {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    @media(max-width: 480px) {
        display: contents;
    }
    

    &__title {
        text-align: left;
        font-size: 21px;
        font-weight: 500;
        color: #03142E;
        font-family: 'Open Sans', sans-serif;
    }

    &__forms {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &__brand, &__model {
        position: relative;
        margin-bottom: 15px;
        &-container {
            width: 100%;
            min-height: 100%;
            border-radius: 10px;
            border: 3px solid #03142E;
            cursor: pointer;     
        }
        &-content {
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            
        }
        &-title {
            font-size: 16px;
            font-weight: 500;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;
            
        }

        &-modal {
            
            position: absolute;
           
            background-color: #ffffff;
            border-radius: 10px;
            border: 3px solid #3A5BCC26;
            cursor: pointer;
            z-index: 5;
            overflow: auto;
            max-height: 350px;

            &__content {
                padding-top: 10px;
                padding-left: 9px;
                float: left;
            }

            &__items {
                list-style-type: none;
            }

          

            &__item {
                font-size: 16px;
                font-weight: 500;
                color: var(--e-global-color-primary);
                padding-bottom: 3px;
            }
        }
    }

    &__button {
        display: inline-block;
        width: 150px;
        height: 40px;
        border-radius: 100px 100px 100px 100px;
        background-color: #3A5BCC;
        border: 2px solid #3A5BCC;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    } 
}