.personal-account {
   padding-bottom: 50px;
   background-color: #3A5BCC26;

    &__crumbs {
        padding: 15px 0px;
       
        @media(max-width: 768px) {
            padding: 5px 0px;
        }
        &-content {
            display: flex;
        }

        &-icon {
            margin-right: 5px;
            margin-left: 5px;
            @media(max-width: 768px) {
                width: 22px;
                height: 22px;
            }
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: var(--e-global-color-primary);
            
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: var(--e-global-color-primary);
                }
            }
            @media(max-width: 768px) {
                font-size: 14px;
            }
            &__active {
                color: #3A5BCC;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            } 
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    &__title {
        
        font-size: 25px;
        font-weight: 500;
        color: var(--e-global-color-primary);
    }

    &__out {
        display: flex;
        cursor: pointer;
        &-icon {
            margin-right: 5px;
            img {
                width: 25px;
                height: 25px;
            }
        }

        &-text {
            font-size: 20px;
            font-weight: 500;
            color: var(--e-global-color-primary);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 25px;
    }

    &__item {
        margin-top: 25px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        width: 48%;
        min-height: 380px;
    }

    &__orders {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        width: 48%;
        min-height: 350px;
      
        &-title {
            font-size: 20px;
            font-weight: 500;
            color: var(--e-global-color-primary);
        }
    }

   &__stepper {
        margin-top: 25px;
   }

   &__favorite {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        width: 48%;
        min-height: 350px;
      
   }

}