.header {
    &__border {
        border: 1px solid #b5b8b8;
    }
    

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 25px; 
        padding-bottom: 25px;
        @media(max-width: 480px) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            padding-top: 15px;
        }
      

    }

    &__left {
        display: flex;
    }

    &__logo {
        img {
           width: 80%;
           @media(max-width: 1024px) {
                width: 75%;
           }
            @media(max-width: 991px) {
                width: 78%;
            }
            @media(max-width: 768px) {
                width: 70%;
            }
            @media(max-width: 595px) {
                width: 56%;
                margin-left: 7px;
            }
            @media(max-width: 460px) {
                width: 53%;
            }
            @media(max-width: 420px) {
                width: 50%;
            }
        }
    }

    &__catalog {
        position: relative;
        display: inline-block;
        margin-top: 14px;
        width: 165px;
        height: 40px;
        background-color: #b5b8b8;
        border: 2px solid #b5b8b8;
        cursor: pointer;
        border-radius: 10px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        @media(max-width: 768px) {
            margin-top: 10px;
            width: 140px;
            font-size: 14px;
        }
        @media(max-width: 595px) {
            display: none;
        }
       
    
        
    }


    &__information {
        display: flex;
        @media(max-width: 430px) {
            margin-top: 4px;
        }
        @media(max-width: 420px) {
            margin-top: 2px;
        }

        &-call {
            margin-top: 1px;
            margin-right: 20px;
            @media(max-width: 1024px) {
                margin-right: 15px;
            }
            @media(max-width: 991px) {
                margin-right: 10px;
                margin-top: 11px;
            }
            @media(max-width: 768px) {
                margin-right: 10px;
                margin-top: 10px;
            }
            @media(max-width: 595px) {
                margin-right: 5px;
                margin-top: 2px;
            }
            &__phone {
                color: var(--e-global-color-primary);  
                font-size: 17px;
                font-weight: 500;
                margin-left: auto;
                line-height: 0%;
                @media(max-width: 1024px) {
                    font-size: 16px;
                }
                @media(max-width: 768px) {
                    font-size: 15px;
                }
                @media(max-width: 595px) {
                    font-size: 14px;
                }
                @media(max-width: 380px) {
                    font-size: 13px;
                }
            }
        }

        &-operating {
            margin-top: 3px;
            @media(max-width: 1024px) {
                margin-top: 2px;
            }
            @media(max-width: 991px) {
                display: none;
            }
            
            &__time {
                font-size: 15px;
                font-weight: 500;
                color: #828383; 
                @media(max-width: 1024px) {
                    font-size: 14px;
                } 
                @media(max-width: 991px) {
                    font-size: 15px;
                }
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }


    &__basket {
        margin-top: 14px;
        display: flex;
        position: relative;
        @media(max-width: 991px) {
            margin-top: 20px;
        }
        @media(max-width: 768px) {
            margin-top: 16px;
        }
        @media(max-width: 595px) {
            margin-top: 11px;
        }
       
        img{
            width: 30px;
            height: 30px;
            @media(max-width: 991px) {
                width: 26px;
                height: 27px;
            }
            @media(max-width: 480px) {
                width: 25px;
                height: 25px;
            }
            @media(max-width: 420px) {
                width: 24px;
                height: 24px;
            }
            
            
        }

        &-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px; 
            height: 22px; 
            background-color: #ff0000; 
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: -10px;
            @media(max-width: 768px) {
                width: 20px;
                height: 20px;
                top: -8px;
            }
            @media(max-width: 480px) {
                width: 17px;
                height: 17px;
            }
            @media(max-width: 460px) {
                top: -6px;
            }
        }

        &-count {
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            @media(max-width: 480px) {
                font-size: 12px;
            }
        }
        
    }

    //search

    &__search {
        margin-top: 14px;
        width: 450px;
        height: 40px;
        padding: 5px;
        border: 2px solid #b5b8b8;
        border-radius: 10px;
        @media(max-width: 1024px) {
            width: 300px;
        }
        @media(max-width: 768px) {
            margin-top: 10px;
            width: 210px;
        }
        @media(max-width: 595px) {
            width: 180px;
            margin-top: 6px;
            height: 36px;
            padding: 3px 5px;
        }
        @media(max-width: 480px) {
           display: none;
        }
    }

    &__input {
        border: none;
        outline: none;
        width: 400px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(7,7,7);
        @media(max-width: 1024px) {
            width: 270px;
        }
        @media(max-width: 768px) {
            width: 190px;
        }
        @media(max-width: 595px) {
            width: 160px;
            font-size: 14px;
        }
        @media(max-width: 480px) {
            width: 120px;   
        }
        @media(max-width: 430px) {
            font-size: 12px;   
        }
        @media(max-width: 380px) {
            width: 105px;   
        }
    }
}


.navbar {
    display: block;
    position: relative;
    @media(max-width: 595px) {
        display: none;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px) {
            padding-bottom: 15px;
        }
      
        
    }
    &__items {
        font-size: 22px;
        font-weight: 400;
        color: #000000ff;
        cursor: pointer;
        line-height: 1;
        -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
        &:hover {
            color: #3A5BCC; 
        }
        @media(max-width: 768px) {
            font-size: 20px;
        }
    }
}

// burger 
.burger-menu {
    width: 250px;
    height: 100%;
    background-color: #ffff;
    box-shadow: 0 2px 7px #706f6f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    &__icon {
        display: block;
        float: right;
        padding: 5px;
    }
    &__item {
        padding: 10px;
    }

    &__items {
        font-size: 18px;
        font-weight: 400;
        padding-top: 10px;
        color: rgb(7,7,7);
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 18, 18, 0.8);
    z-index: 5;
}

.no-scroll {
    overflow: hidden;
  }


// catalog-modal 

.catalog-modal {
    position: absolute;
    height: auto;
    background-color: #b5b8b8;
    border-radius: 10px;
    border: 3px solid #b5b8b8;
    cursor: pointer;
    z-index: 3;
    

    &__content {
        padding: 20px 15px;
    }

    &__item {
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        padding-bottom: 5px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
        &:hover {
            color: #ff0000; 
            
            }
    }

    &__hidden {
        display: none;
      }
      
    
}




  