.header {
    margin-bottom: 35px;
    @media(max-width: 595px) {
        margin-bottom: 25px;
    }
    @media(max-width: 480px) {
        margin-bottom: 15px;
    }
    

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding-top: 25px; 
        padding-bottom: 25px;
        min-height: 80px;
        @media(max-width: 1024px) {
            display: flex;
            justify-content: space-between;
        }
        @media(max-width: 595px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
        @media(max-width: 480px) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0px;
            padding-top: 15px;
            min-height: 50px;
        }
      

    }

    &__logo {
        img {
           width: 40%;
            @media(max-width: 991px) {
                width: 78%;
            }
            @media(max-width: 768px) {
                width: 70%;
            }
            @media(max-width: 595px) {
                width: 56%;
            }
            @media(max-width: 460px) {
                width: 53%;
            }
            @media(max-width: 420px) {
                width: 50%;
            }
        }
    }


    &__information {
        margin-top: 10px;
        display: flex;
        justify-content: right;     
          
        @media(max-width: 991px) {
            margin-top: 16px;
        }
        @media(max-width: 768px) {
            margin-top: 10px;
        }
        @media(max-width: 595px) {
            margin-top: 2px;
        }
        @media(max-width: 430px) {
            margin-top: 4px;
        }
        @media(max-width: 420px) {
            margin-top: 2px;
        }

        &-operating {
            margin-right: 20px;
            @media(max-width: 595px) {
                display: none;
            }
            &__phone {
                text-align: right;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 991px) {
                    font-size: 18px;
                }
                @media(max-width: 768px) {
                    font-size: 16px;
                }
            }
            &__time {
                text-align: right;
                font-size: 17px;
                font-weight: 400;
                margin-top: -5px;
                @media(max-width: 991px) {
                    font-size: 15px;
                }
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }



    &__phone {
        margin-right: 7px;
        margin-top: 8px;
        img {
            width: 30px;
            height: 30px;
            @media(max-width: 991px) {
                width: 26px;
                height: 27px;
            }
            @media(max-width: 595px) {
                height: 26px;
            }
            
            @media(max-width: 480px) {
                width: 25px;
                height: 25px;
            }
            @media(max-width: 420px) {
                width: 23px;
                height: 23px;
            }
        }   
    }

    &__basket {
        margin-top: 8px;
        display: flex;
        position: relative;
        @media(max-width: 768px) {
            margin-top: 7px;
        }
        @media(max-width: 595px) {
            margin-right: 7px;
        }
       
        img{
            width: 30px;
            height: 30px;
            @media(max-width: 991px) {
                width: 26px;
                height: 27px;
            }
            @media(max-width: 480px) {
                width: 25px;
                height: 25px;
            }
            @media(max-width: 420px) {
                width: 24px;
                height: 24px;
            }
            
            
        }

        &-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px; 
            height: 22px; 
            background-color: #ff0000; 
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: -10px;
            @media(max-width: 768px) {
                width: 20px;
                height: 20px;
                top: -8px;
            }
            @media(max-width: 480px) {
                width: 17px;
                height: 17px;
            }
            @media(max-width: 460px) {
                top: -6px;
            }
        }

        &-count {
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            @media(max-width: 480px) {
                font-size: 12px;
            }
        }
        
    }

    //search

    &__search {
        margin-top: 14px;
        width: 330px;
        height: 40px;
        padding: 5px;
        border: 2px solid #7d7f7d;
        border-radius: 10px;
        @media(max-width: 1024px) {
            height: 38px;
        }
        @media(max-width:991px) {
            margin-top: 17px;
        }
        @media(max-width: 768px) {
            margin-top: 10px;
            width: 240px;
        }
        @media(max-width: 595px) {
            width: 180px;
            margin-top: 6px;
            height: 36px;
            padding: 3px 5px;
        }
        @media(max-width: 480px) {
           display: none;
        }
    }

    &__input {
        border: none;
        outline: none;
        width: 230px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(7,7,7);
        @media(max-width: 768px) {
            width: 220px;
        }
        @media(max-width: 595px) {
            width: 160px;
            font-size: 14px;
        }
        @media(max-width: 480px) {
            width: 120px;   
        }
        @media(max-width: 430px) {
            font-size: 12px;   
        }
        @media(max-width: 380px) {
            width: 105px;   
        }
    }
}


.navbar {
    display: block;
    position: relative;
    @media(max-width: 595px) {
        display: none;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px) {
            padding-bottom: 15px;
        }
      
        
    }
    &__items {
        font-size: 22px;
        font-weight: 400;
        color: rgb(7, 6, 6);
        cursor: pointer;
        line-height: 1;
        -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
        &:hover {
            color: #f11818; 
        }
        @media(max-width: 768px) {
            font-size: 20px;
        }
    }
}

// burger 
.burger-menu {
    width: 250px;
    height: 100%;
    background-color: #ffff;
    box-shadow: 0 2px 7px #706f6f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    &__icon {
        display: block;
        float: right;
        padding: 5px;
    }
    &__item {
        padding: 10px;
    }

    &__items {
        font-size: 18px;
        font-weight: 400;
        padding-top: 10px;
        color: rgb(7,7,7);
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 18, 18, 0.8);
    z-index: 5;
}

.no-scroll {
    overflow: hidden;
  }


// catalog-modal 

.catalog-modal {
    top: 60px;
    left: 209px;
    position: absolute;
    width: 250px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid rgb(156, 153, 153);
    cursor: pointer;
    z-index: 3;
    @media(max-width: 1200px) {
        left: 196px;
    }
    @media(max-width: 1024px) {
        left: 162px;
    }
    @media(max-width: 991px) {
        left: 156px;
    }
    @media(max-width: 768px) {
        left: 119px;
        top: 50px;
    }

    &__content {
        padding: 20px 15px;
    }

    &__item {
        font-size: 17px;
        font-weight: 500;
        color: rgb(7, 6, 6);
        padding-bottom: 5px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
        &:hover {
            color: #f11818;
            
            }
    }

    
    
}




  