.feedback {
   padding-bottom: 50px;
   @media(max-width: 460px) {
    padding-bottom: 0px;
   }

    
    &__card {
        border: 2px solid #ffff;
        border-radius: 10px;
        padding: 25px 10px;

        &-title {
            font-size: 38px;
            font-weight: 600;
            color: #03142E;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 18px;
            }
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            color: #03142E;
                font-family: 'Open Sans', sans-serif;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 15px;
            }
        }

        &-inputs {
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            

            &__name {
                padding: 5px 7px;
                width: 37%;
                margin-right: 10px;
                border-radius: 5px;
                border:2px solid #03142E;;
                outline: none;
                font-size: 16px;
                font-weight: 500;
                color: #03142E;
                font-family: 'Open Sans', sans-serif;
                background-color: transparent;
                &::placeholder {
                    color: #03142E;
                    opacity: 1; 
                }
                @media(max-width: 460px) {
                    font-size: 14px;
                    width: 44%;
                }
            }

            &__phone {
                padding: 5px 7px;
                width: 37%;
                border-radius: 5px;
                border:2px solid #03142E;
                outline: none;
                font-size: 16px;
                font-weight: 500;
                color: #03142E;
                font-family: 'Open Sans', sans-serif;
                background-color: transparent;
                &::placeholder {
                    color: #03142E;
                    opacity: 1; 
                }
                @media(max-width: 460px) {
                    font-size: 14px;
                    width: 44%;
                }
            }
        }

       

        &-button {
            display: block;
            width: 220px;
            height: auto;
            border-radius: 100px 100px 100px 100px;
            background-color: #03142E;
            border: 2px solid #ffffff;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            padding: 12px 24px 12px 24px;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            margin: 0 auto;
            @media(max-width: 460px) {
                font-size: 14px;
                padding: 7px 7px;
                width: 185px;
            }
        }

        &-agreement {
            margin-top: 15px;
            font-size: 19px;
            color: #03142E;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 14px;
            }
        }

      
    }
}

.invalid {
    border-color: red; /* Цвет границы для невалидного поля */
    background-color: #ffe6e6; /* Цвет фона для невалидного поля */
  }