.feedback {
    margin-top: 70px;
    margin-bottom: 50px;
    @media(max-width: 460px) {
        margin-top: 25px;
    }
    
    &__card {
        border: 2px solid #3A5BCC26;
        border-radius: 10px;
        padding: 25px 10px;

        &-title {
            font-size: 24px;
            font-weight: 600;
            color: #000000ff;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 18px;
            }
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            color:#000000ff;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 15px;
            }
        }

        &-inputs {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            

            &__name {
                padding: 5px 7px;
                width: 37%;
                margin-right: 10px;
                border-radius: 10px;
                border: 2px solid #3A5BCC26;
                color: #000000ff;
                font-size: 18px;
                font-weight: 500;
                outline: none;
                @media(max-width: 460px) {
                    font-size: 14px;
                    width: 44%;
                }
            }

            &__phone {
                padding: 5px 7px;
                width: 37%;
                border-radius: 10px;
                border: 2px solid #3A5BCC26;
                color: #000000ff;
                font-size: 18px;
                font-weight: 500;
                outline: none;
                @media(max-width: 460px) {
                    font-size: 14px;
                    width: 44%;
                }
            }
        }

        &-comments {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            &__note {
                width: 75%;
                height: 150px;
                border-radius: 10px;
                border: 2px solid #3A5BCC26;
                color: #000000ff;
                font-size: 18px;
                font-weight: 500;
                outline: none;
                padding: 15px 20px;
                @media(max-width: 460px) {
                    font-size: 14px;
                    height: 80px;
                    padding: 7px 10px;
                    width: 90%;
                }
            }
        }

        &-button {
            display: block;
            width: 150px;
            height: auto;
            border-radius: 100px 100px 100px 100px;
            background-color: #3A5BCC;
            border: 2px solid #3A5BCC;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            padding: 10px 12px;
            color: #ffffff;
            text-transform: uppercase;
            margin: 0 auto;
            @media(max-width: 460px) {
                font-size: 14px;
                padding: 7px 7px;
            }
        }

        &-agreement {
            margin-top: 15px;
            font-size: 19px;
            color: #000000ff;
            text-align: center;
            @media(max-width: 460px) {
                font-size: 14px;
            }
        }

      
    }
}

.invalid {
    border-color: red; /* Цвет границы для невалидного поля */
    background-color: #ffe6e6; /* Цвет фона для невалидного поля */
  }