.create-order {
    &__title {
        font-size: 22px;
        font-weight: 500;
        color: var(--e-global-color-primary);
    }

    &__steps {
        margin-top: 15px;

        &-title {
            font-size: 20px;
            font-weight: 400;
            color: var(--e-global-color-primary);
        }
    }


}