.bagimage {
    @media(max-width: 595px) {
        display: flex;
        justify-content: center;
    }
    &__image{
        img {
            width: 470px;
            @media(max-width: 1024px) {
                width: 350px;
            }
            @media(max-width: 595px) {
                width: 300px;
            }
            @media(max-width: 460px) {
                width: 250px;
            }
        }
    }
}