* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}


.wrapper {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    
}

img, svg {
    vertical-align: middle;
}

.carousel {
    margin-bottom: 45px;
}

.carousel-image {
    position: relative;

    width: 100%;   
}



