* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    
}


.wrapper {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 81px;
    @media(max-width: 1024px) {
        margin-top: 66px;
    }
    @media(max-width: 991px) {
        margin-top: 60px;
    }
    @media(max-width: 460px) {
        margin-top: 46px;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    
}

img, svg {
    vertical-align: middle;
}

.carousel {
    margin-bottom: 45px;
}

.carousel-image {
    position: relative;

    width: 100%;   
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  
  z-index: 1200;
}

.modal-telegram {
    background-color: blue;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 10%;
}



