* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    
}


.wrapper {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    
    
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    
}

img, svg {
    vertical-align: middle;
}

.carousel-image {
    position: relative;
    height: 350px; 
    width: 100%;
    @media(max-width: 768px) {
        height: 300px;
    }
    @media(max-width: 595px) {
        height: 250px;
    }
    @media(max-width: 480px) {
        height: 200px;
    }
    @media(max-width: 400px) {
        height: 150px;
    }
}