.confidentialitylist {
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #03142E;
    &__title {
        font-size: 18px;
        font-weight: 500;
        color: #e5e5e5;
        font-family: 'Open Sans', sans-serif;
        @media(max-width: 480px) {
            font-size: 15px;
        }
    }
    &__content {
        margin-top: 15px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        color: #e5e5e5;
        font-family: 'Open Sans', sans-serif;
        @media(max-width: 480px) {
            font-size: 13px;
        }
    }

    &__crumbs {
        padding: 15px 0px;
        background-color: #03142E;
        @media(max-width: 991px) {
            padding-top: 35px;
        }
        
        &-content {
            display: flex;
        }

        &-icon {
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
           
        }
        
        &-item {
            font-size: 19px;
            font-weight: 500;
            color: #e5e5e5;
        
            &:hover {
                color: #3A5BCC;
                @media(max-width: 991px) {
                    color: #e5e5e5;
                }
            }
            @media(max-width: 768px) {
                font-size: 17px;
            }
            &__active {
                color: #2e528f;
                font-size: 19px;
                font-weight: 500;
                @media(max-width: 768px) {
                    font-size: 17px;
                }
            } 
        }
    }
}


// checkbox 

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
  
    input:checked + .checkbox {
      border-color: #20C2E0;
  
      svg {
        path {
          fill: #20C2E0;
        }
  
        polyline {
          stroke-dashoffset: 0;
        }
      }
    }
  
    &:hover {
      .checkbox svg path {
        stroke-dashoffset: 0;
      }
    }
  
    .checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid #C8CCD4;
      border-radius: 3px;
  
      svg {
        position: absolute;
        top: -2px;
        left: -2px;
  
        path {
          fill: none;
          stroke: #20C2E0;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: all .6s ease;
        }
  
        polyline {
          fill: none;
          stroke: #FFF;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          transition: all .3s ease;
        }
      }
    }
  
    > span {
      pointer-events: none;
      vertical-align: middle;
    }
  }
  
  
  .invisible {
    position: absolute;
  }